<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            @ViewData["Title"] - HrApplicationFinal
        </title>

        <environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>

    </head>

    <body>
        <div class="container">
            @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
            {
                <div class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">
                                <img src="~/images/logo/hrLogo.png" alt="Company logo" width="55" height="55" />
                            </a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <div class="navbar-collapse collapse">
                                @await Html.PartialAsync("_LoginPartial")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-md-3">
                        <div class="panel-group" id="humanResouceApp">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#humanResouceApp" href="#collapseOne">
                                            <span class="glyphicon glyphicon-folder-close">
                                            </span> Overview
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <span class="glyphicon glyphicon-align-justify"></span>
                                                <a asp-area="" asp-controller="Admin" asp-action="ListCompanyTreeStructure">Organization</a>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="glyphicon glyphicon-user"></span>
                                                <a asp-area="" asp-controller="Admin" asp-action="ListUser">Employees</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#humanResouceApp" href="#collapseTwo">
                                            <span class="glyphicon glyphicon-file">
                                            </span>Configuration
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <span class="glyphicon glyphicon-globe"> </span>
                                                <a asp-area="" asp-controller="Admin" asp-action="ListCompanyTreeStructure">Configure country</a>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="glyphicon glyphicon-home"> </span>
                                                <a asp-area="" asp-controller="Admin" asp-action="ListCompanyTreeStructure">Configure department</a>
                                        </li>
                                        <li class="list-group-item"> 
                                            <span class="glyphicon glyphicon-user"> </span>
                                                <a asp-area="" asp-controller="Admin" asp-action="ListCompanyTreeStructure">Configure User</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-9">
                            @RenderBody()
                    </div>
                </div>
            }

            <div class="container body-content">
                @RenderBody()

            </div>
        </div>
        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)
</body>
</html>
